body {
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 500px;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid blue;
}

h1 {
    font-size: medium;
    color: #25cff2;
}

h2 {
    font-size: smaller;
    color: #198754;
}

h3 {
    font-size: small;
    color: #6f42c1;
}

h4 {
    font-size: small;
    color: #a52834;
}